<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparkle.bill.mapper.CfWpUserAccountBillMapper">

    <resultMap id="BaseResultMap" type="com.sparkle.bill.entity.CfWpUserAccountBill">
        <id property="billId" column="bill_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="amount" column="amount" jdbcType="DECIMAL"/>
        <result property="changeType" column="change_type" jdbcType="CHAR"/>
        <result property="changeWay" column="change_way" jdbcType="CHAR"/>
        <result property="orderNo" column="order_no" jdbcType="BIGINT"/>
        <result property="merchantId" column="merchant_id" jdbcType="BIGINT"/>
        <result property="tradeNo" column="trade_no" jdbcType="VARCHAR"/>
        <result property="transStatus" column="trans_status" jdbcType="CHAR"/>
        <result property="transSuccessTime" column="trans_success_time" jdbcType="TIMESTAMP"/>
        <result property="refundFlag" column="refund_flag" jdbcType="CHAR"/>
        <result property="expendType" column="expend_type" jdbcType="CHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        bill_id,user_id,amount,
        change_type,change_way,order_no,
        merchant_id,trade_no,trans_status,
        trans_success_time,refund_flag,expend_type,
        create_time,update_time,is_delete
    </sql>
</mapper>
