<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparkle.bill.mapper.CfWpUserWithdrawMapper">

    <resultMap id="BaseResultMap" type="com.sparkle.bill.entity.CfWpUserWithdraw">
        <id property="withdrawId" column="withdraw_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="amount" column="amount" jdbcType="DECIMAL"/>
        <result property="withdrawWay" column="withdraw_way" jdbcType="VARCHAR"/>
        <result property="withdrawAccount" column="withdraw_account" jdbcType="VARCHAR"/>
        <result property="tradeNo" column="trade_no" jdbcType="VARCHAR"/>
        <result property="withdrawStatus" column="withdraw_status" jdbcType="CHAR"/>
        <result property="transSuccessTime" column="trans_success_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        withdraw_id,user_id,amount,
        withdraw_way,withdraw_account,trade_no,
        withdraw_status,trans_success_time,create_time,
        update_time,is_delete
    </sql>
</mapper>
