<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparkle.user.mapper.DictInfoMapper">

    <resultMap id="BaseResultMap" type="com.sparkle.user.entity.DictInfo">
        <id property="dictId" column="dict_id" jdbcType="BIGINT"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="dictType" column="dict_type" jdbcType="VARCHAR"/>
        <result property="dictKey" column="dict_key" jdbcType="VARCHAR"/>
        <result property="dictValue" column="dict_value" jdbcType="VARCHAR"/>
        <result property="dictStatus" column="dict_status" jdbcType="CHAR"/>
        <result property="dictRemark" column="dict_remark" jdbcType="VARCHAR"/>
        <result property="isDelete" column="is_delete" jdbcType="CHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        dict_id,parent_id,dict_type,
        dict_key,dict_value,dict_status,
        dict_remark,is_delete,create_time,
        update_time
    </sql>
</mapper>
