<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparkle.product.mapper.DirectFinanceMapper">

    <resultMap id="BaseResultMap" type="com.sparkle.product.entity.DirectFinance">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="dfName" column="df_name" jdbcType="VARCHAR"/>
        <result property="orgId" column="org_id" jdbcType="BIGINT"/>
        <result property="dfType" column="df_type" jdbcType="CHAR"/>
        <result property="dfRange" column="df_range" jdbcType="VARCHAR"/>
        <result property="dfSummary" column="df_summary" jdbcType="VARCHAR"/>
        <result property="dfIntroduce" column="df_introduce" jdbcType="VARCHAR"/>
        <result property="dfAuditStatus" column="df_audit_status" jdbcType="CHAR"/>
        <result property="dfPubStatus" column="df_pub_status" jdbcType="CHAR"/>
        <result property="dfPubTime" column="df_pub_time" jdbcType="TIMESTAMP"/>
        <result property="dfAuditRemark" column="df_audit_remark" jdbcType="VARCHAR"/>
        <result property="delStatus" column="del_status" jdbcType="CHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="imageUrl" column="image_url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,df_name,org_id,
        df_type,df_range,df_summary,
        df_introduce,df_audit_status,df_pub_status,
        df_pub_time,df_audit_remark,del_status,
        create_time,create_by,update_time,
        update_by,image_url
    </sql>
</mapper>
