<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparkle.product.mapper.GuaranteeInfoMapper">

    <resultMap id="BaseResultMap" type="com.sparkle.product.entity.GuaranteeInfo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="guaranteeName" column="guarantee_name" jdbcType="VARCHAR"/>
        <result property="guaranteePicUrl" column="guarantee_pic_url" jdbcType="VARCHAR"/>
        <result property="guaranteeType" column="guarantee_type" jdbcType="CHAR"/>
        <result property="guaranteeAmount" column="guarantee_amount" jdbcType="DECIMAL"/>
        <result property="amountUnit" column="amount_unit" jdbcType="CHAR"/>
        <result property="guaranteeTermMounth" column="guarantee_term_mounth" jdbcType="INTEGER"/>
        <result property="guaranteeTerm" column="guarantee_term" jdbcType="INTEGER"/>
        <result property="termUnit" column="term_unit" jdbcType="CHAR"/>
        <result property="companyId" column="company_id" jdbcType="BIGINT"/>
        <result property="guaranteeRemark" column="guarantee_remark" jdbcType="VARCHAR"/>
        <result property="curStatus" column="cur_status" jdbcType="CHAR"/>
        <result property="postStatus" column="post_status" jdbcType="CHAR"/>
        <result property="auditStatus" column="audit_status" jdbcType="CHAR"/>
        <result property="viewOrder" column="view_order" jdbcType="INTEGER"/>
        <result property="publishTime" column="publish_time" jdbcType="TIMESTAMP"/>
        <result property="auditTime" column="audit_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
        <result property="operUserId" column="oper_user_id" jdbcType="BIGINT"/>
        <result property="operOrgId" column="oper_org_id" jdbcType="BIGINT"/>
        <result property="orgId" column="org_id" jdbcType="BIGINT"/>
        <result property="operRoleId" column="oper_role_id" jdbcType="BIGINT"/>
        <result property="auditRemark" column="audit_remark" jdbcType="VARCHAR"/>
        <result property="auditBy" column="audit_by" jdbcType="VARCHAR"/>
        <result property="serverAddr" column="server_addr" jdbcType="VARCHAR"/>
        <result property="ownArea" column="own_area" jdbcType="VARCHAR"/>
        <result property="weight" column="weight" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,guarantee_name,guarantee_pic_url,
        guarantee_type,guarantee_amount,amount_unit,
        guarantee_term_mounth,guarantee_term,term_unit,
        company_id,guarantee_remark,cur_status,
        post_status,audit_status,view_order,
        publish_time,audit_time,create_time,
        create_user,update_time,update_user,
        oper_user_id,oper_org_id,org_id,
        oper_role_id,audit_remark,audit_by,
        server_addr,own_area,weight
    </sql>
</mapper>
