<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparkle.product.mapper.GuaranteeDemandLogMapper">

    <resultMap id="BaseResultMap" type="com.sparkle.product.entity.GuaranteeDemandLog">
        <result property="seqId" column="seq_id" jdbcType="BIGINT"/>
        <result property="applyId" column="apply_id" jdbcType="BIGINT"/>
        <result property="dtlId" column="dtl_id" jdbcType="BIGINT"/>
        <result property="orgId" column="org_id" jdbcType="BIGINT"/>
        <result property="auditStatus" column="audit_status" jdbcType="INTEGER"/>
        <result property="auditDetail" column="audit_detail" jdbcType="VARCHAR"/>
        <result property="auditTime" column="audit_time" jdbcType="BIGINT"/>
        <result property="auditUser" column="audit_user" jdbcType="VARCHAR"/>
        <result property="auditUserName" column="audit_user_name" jdbcType="VARCHAR"/>
        <result property="guaranteeTime" column="guarantee_time" jdbcType="TIMESTAMP"/>
        <result property="guaranteeAmt" column="guarantee_amt" jdbcType="DECIMAL"/>
        <result property="guaranteePeriUnit" column="guarantee_peri_unit" jdbcType="INTEGER"/>
        <result property="guaranteePeri" column="guarantee_peri" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        seq_id,apply_id,dtl_id,
        org_id,audit_status,audit_detail,
        audit_time,audit_user,audit_user_name,
        guarantee_time,guarantee_amt,guarantee_peri_unit,
        guarantee_peri,remark
    </sql>
</mapper>
