<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparkle.product.mapper.GuaranteeDemandChangeRecordMapper">

    <resultMap id="BaseResultMap" type="com.sparkle.product.entity.GuaranteeDemandChangeRecord">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="guaranteeDemandId" column="guarantee_demand_id" jdbcType="BIGINT"/>
        <result property="orgId" column="org_id" jdbcType="BIGINT"/>
        <result property="demandStatus" column="demand_status" jdbcType="CHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="operatorId" column="operator_id" jdbcType="BIGINT"/>
        <result property="operatorName" column="operator_name" jdbcType="VARCHAR"/>
        <result property="guaranteeTime" column="guarantee_time" jdbcType="TIMESTAMP"/>
        <result property="guaranteeAmt" column="guarantee_amt" jdbcType="DECIMAL"/>
        <result property="guaranteePeriUnit" column="guarantee_peri_unit" jdbcType="INTEGER"/>
        <result property="guaranteePeri" column="guarantee_peri" jdbcType="INTEGER"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="auditTime" column="audit_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,guarantee_demand_id,org_id,
        demand_status,remark,operator_id,
        operator_name,guarantee_time,guarantee_amt,
        guarantee_peri_unit,guarantee_peri,create_date,
        audit_time
    </sql>
</mapper>
