<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparkle.base.mapper.AreaInfoMapper">

    <resultMap id="BaseResultMap" type="com.sparkle.base.entity.AreaInfo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="areaCode" column="area_code" jdbcType="INTEGER"/>
        <result property="areaName" column="area_name" jdbcType="VARCHAR"/>
        <result property="areaLevel" column="area_level" jdbcType="CHAR"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="curStatus" column="cur_status" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,area_code,area_name,
        area_level,parent_id,cur_status
    </sql>
</mapper>
