<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparkle.base.mapper.PlatStaticResMapper">

    <resultMap id="BaseResultMap" type="com.sparkle.base.entity.PlatStaticRes">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="resType" column="res_type" jdbcType="CHAR"/>
        <result property="detail" column="detail" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="proId" column="pro_id" jdbcType="BIGINT"/>
        <result property="cityId" column="city_id" jdbcType="BIGINT"/>
        <result property="countyId" column="county_id" jdbcType="BIGINT"/>
        <result property="platLevel" column="plat_level" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,res_type,detail,
        create_time,update_time,pro_id,
        city_id,county_id,plat_level
    </sql>
</mapper>
