<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparkle.base.mapper.SysDictInfoMapper">

    <resultMap id="BaseResultMap" type="com.sparkle.base.entity.SysDictInfo">
        <result property="typeKey" column="type_key" jdbcType="VARCHAR"/>
        <result property="kwKey" column="kw_key" jdbcType="VARCHAR"/>
        <result property="typeName" column="type_name" jdbcType="VARCHAR"/>
        <result property="kwValue" column="kw_value" jdbcType="VARCHAR"/>
        <result property="curStatus" column="cur_status" jdbcType="CHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        type_key,kw_key,type_name,
        kw_value,cur_status,create_time,
        create_user,update_time,update_user
    </sql>
</mapper>
